@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
  font-family: "Oxanium", sans-serif;
  color: #ffffff;
  scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
  }

a:hover {
  color: #528AAE;
  cursor: pointer;
}

body {
    background-color: #000000;
    margin: 0;
}

#header {
  background-color: #e70000;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 20px;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 5;
}

#logo {
  padding-top:10px;
  width: 110px;
  margin: 20px;
}

nav {
  width: 75%;
  max-width: 400px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  padding-right: 20px;
}

nav > ul > li {
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

li > a {
  color: #000000;
  text-decoration: none;
}

main{
  width: 100%;
}

#groupphoto {
  width: 100vw;
  margin-top: 70px;
  /* height: 680px; */
  object-fit: cover;
  object-position: 0 0;
  display: block;
  width: 100%;
  height: auto;
}


.overlay-text h1 {
  font-size: 7vw;
  padding: 20px;
  
}

.overlay-text h2 {
  font-size: 2.5vw;
}

.overlay-text a {
  text-decoration: none;

}

.overlay-text a:hover {
  text-decoration: underline;
  color: #0A2239;
}

.overlay-text {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 20px; /* Add margin to create space for the button */
  padding-bottom: 60px; /* Adjust to accommodate button height */
  z-index: 4;
}

.image-container {
  position: relative;
}

.gradient-overlay {
  position: relative; /* Ensure the overlay is positioned relative to the image container */
}

.gradient-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  pointer-events: none; /* Ensures the overlay doesn't block interaction with underlying elements */
  z-index: 1;
}


@media (max-width: 680px) {
  .image-container {
    overflow: hidden; /* Hide overflow to ensure the gradient is applied only to the visible part of the image */
  }
}

.memberdesc h1 {
  font-size: 7vw;
  margin-bottom: 0;
}

#aespamainlogo {
  padding: 80px;
  width: 25vw;
}

#desc {
  font-size: large;
}

#introduction {
  margin-bottom: 100px;
}

#grid {
  display: grid;
  margin: 20px auto;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid-item {
  background-color: #0A2239;
  padding: 20px;
}

.ningning {
  font-size: 2.5vw;
}

#image, img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2, h3{
  font-size: 3.2vw;
  font-weight: 700;
}

h1{
  font-size: 5vw;
  font-weight: 700;
}

h3:first-of-type {
  padding-top: 0;
}

#title {
  font-size: 8vw;
}

footer p {
  text-align: center;
  line-height: 8px;
  font-size: 13px;
}

.center {
  text-align: center;
  display: block;
  margin:auto;
  width: 50%;
}

#dramavideo {
  display: block; 
  margin: 50px auto; 
  width: 80%;
  height: 80vh;
}

.grid-item-photo {
  float: left;
  width: 50%;
  margin: 20px;
}

.grid-item-desc{
  padding: 20px;
}

#Discography {
  margin: 20px;
  padding: 20px;
}

#flexbox {
  display: flex;
  flex-direction:  row;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  justify-content: space-evenly;
  margin-top: 20px;
}

#flexbox > div {
  width:20%;
}

#flexbox > div > p > a {
  text-decoration: none;
  color: inherit;
}

#footer {
  background-color: #0A2239;
  padding: 0.3em;
}

div > h3 > a {
  text-decoration: none;
}

.grid-item-desc > h3 > a:hover {
  text-decoration: none;
  font-weight: bolder;
}

.memberflexbox {
  display: flex;
  width: 80%;
  margin: 75px;
}

.memberimg {
  width: 60%;
  margin: 5vw;
  height: auto;
}

.memberdesc {
  width: 100%;
}

.memberphotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
}

.membergallery {
  margin: 50px;
}

.memberphotos img {
  width: 20%;
  margin: 10px;
}

@media only screen and (min-device-width: 480px) and (max-width: 767px){
  #grid {
    display: flex;
    flex-direction: column;
  }

  .grid-item {
    background-color: #0A2239;
  }

  .grid-item-photo {
    height: 100%;
  }

  #desc {
    width: 80%;
  }

  #aespamainlogo {
    padding: 50px;
    width: 40vw;
  }

  p {
    font-size: 2.8vw;
  }

  h1{
    font-size: 40px;
    font-weight: 900;
  }

  .memberdesc h1 {
    font-size: 60px;
  }

  #dramavideo {
    height: 45vh;
  }

  #flexbox, .memberflexbox, .memberphotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  #flexbox > div {
    width:50%;
  }
  
  .aespamainlogo {
    top: -10vh;
  }

  .memberflexbox {
    display: flex;
    width: 80%;
    margin-top: 75px;
  }
  
  .memberimg {
    width: 90%;
  }

  .memberphotos img {
    width: 80%;
    margin: 3vh;
  }
  }



@media only screen and (min-device-width: 768px) and (max-width: 960px){
  #desc {
    width: 70%;
  }

  #aespamainlogo {
    width: 40vw;
  }

  .aespamainlogo {
    top: -20vh;
  }

  .memberflexbox, .memberphotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 5vh;
  }

  .memberphotos img {
    width: 80%;
    margin: 3vh;
  }
}
